main {
  color: blue;
  border: 2px solid aliceblue;
  div {
    color: red;
    font-weight: bold;
    background-color: blue;
    border: 1px solid aliceblue;
  }
}
div {
  color: green;
  font-weight: bold;
}
